.container {
  display: flex;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.list {
  display: flex;
  width: 47.5%;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(2, 147, 147);
}

.list__heading {
  font-size: 30px;
  color: white;
}

li {
  list-style-type: none;
}
